In [1]:
import configparser
import os
import boto3
import pandas

In [2]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

KEY=config.get('AWS','KEY')
SECRET=config.get('AWS','SECRET')

DWH_DB=config.get("DWH","DWH_DB")
DWH_DB_USER=config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD=config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT=config.get("DWH","DWH_PORT")
DWH_CLUSTER_IDENTIFIER=config.get("DWH","DWH_CLUSTER_IDENTIFIER")

In [3]:
ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                     )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

In [4]:
def prettyRedshiftProps(props):
    pandas.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pandas.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']

In [5]:
%load_ext sql

In [6]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
%sql $conn_string

'Connected: dwhuser@dwh'

In [7]:
%%sql
select count(*) from users

 * postgresql://dwhuser:***@dwhcluster.chwhgyodub2m.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [8]:
%%sql
select count(*) from song

 * postgresql://dwhuser:***@dwhcluster.chwhgyodub2m.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [9]:
%%sql
select count(*) from artist

 * postgresql://dwhuser:***@dwhcluster.chwhgyodub2m.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [10]:
%%sql
select count(*) from time

 * postgresql://dwhuser:***@dwhcluster.chwhgyodub2m.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8023,)]

In [11]:
%%sql
select count(*) from songplay

 * postgresql://dwhuser:***@dwhcluster.chwhgyodub2m.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [12]:
%%sql
select count(*) from staging_events

 * postgresql://dwhuser:***@dwhcluster.chwhgyodub2m.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [13]:
%%sql
select count(*) from staging_songs

 * postgresql://dwhuser:***@dwhcluster.chwhgyodub2m.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]